.about {
    min-width: 100%;
    min-height: 100%;
    background-image: url(~images/content/train-bridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about__container {
    display: flex;
    justify-content: space-between;
}
.about__left {
    width: 30%;
}
.about__right {
    width: 60%;
}