.bottom-section {
    min-height: 650px;
    min-width: 100%;
    /* background-image: url(~images/content/bg-bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    padding-bottom: 150px;
    padding-top: 150px;
}