.contact__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 82px;
    @include tablets {
        text-align: center;
        font-size: 36px;
        margin-bottom: 60px;
    }
    
}
.contact__form {
    width: 60%;
    @include tablets {
        width: 100%;
    }    
}