.copyright__year {
    opacity: 0.1;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 10px;
}

.copyright__name {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.copyright__desc {
    font-weight: 400;
    opacity: 0.15;
}


