.iconed-link {
    display: flex;
    line-height: 18px;
}
.iconed-link__icon {
    display: span;
    background: svg-load('link.svg', fill='#586ed3', width=100%, height=100%);
    background-repeat: no-repeat;
    height: 18px;
    width: 15px;
    margin-right: 20px;

    
}
.iconed-link__text {
    color: #586ed3;
    font-size: 18px;
    font-weight: 700;
}