.intro-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro-text__left {
    font-size: 18px;
    margin-right: 42px;
}

.intro-text__right {
    font-size: 72px;
    font-weight: 700;
    line-height: 0.8em;
}
