.slider-list {
    display: flex;
    justify-content: flex-end;
}
.slider-list__item {
    width: 178px;
    height: 100px;
    object-fit: cover;
}

.slider-list__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}