.welcome-section {
    /* min-width: 100%;
    min-height: 100%;
    background-image: url(~images/content/bg-welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    padding-bottom: 20vh;
    @include tablets {
        background-image: url(~images/content/tabletWelcome1.jpg);
        background-size: cover;
    }
    
}