include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    include ./components/entry.pug
    .wrapper
      .welcome-section
        .parallax-header
          .parallax-header__item.parallax-header__item--1(data-speed="0.1")
          .parallax-header__item.parallax-header__item--2(data-speed="0.1")
          .parallax-header__item.parallax-header__item--3(data-speed="0.1")
            //- +image('content/layer3.png', 'parallax-header__item-image','bg')
            //- .parallax-header__item-gradient
          .parallax-header__item.parallax-header__item--4(data-speed="0.001")
          .parallax-header__item.parallax-header__item--5
          
        section.section.intro
          .container
            header.header
              span.initials NK
              nav.nav
                ul.nav__list
                  li.nav__item
                    a.nav__link(href="#") Main
                  li.nav__item
                    a.nav__link(href="#") About me
                  li.nav__item
                    a.nav__link(href="#") Skills
                  li.nav__item
                    a.nav__link(href="#") Portfolio
                  li.nav__item
                    a.nav__link(href="#") Testimonial
                  li.nav__item
                    a.nav__link(href="#") Contacts
              .social
                ul.social__list
                  li.social__item
                    a.social__link(href="#")
                      .social__icon.social__icon--insta
                  li.social__item
                    a.social__link(href="#")
                      .social__icon.social__icon--vk
                  li.social__item
                    a.social__link(href="#")
                      .social__icon.social__icon--github
            .intro-text
              .intro-text__left Personal<br/> portfolio page
              .intro-text__right Nikolai<br/> Kononenko
            a.scroll(href="#")
              .scroll-text Scroll
              .scroll__icon
        section.section.about
          .container.about__container
            .about__left
              .user
                .user__avatar.avatar
                  +image("content/user.jpg", "avatar__pic", "user__pic")
                ul.user__desc
                -
                  var rows = [
                    ['Location:','Helsinki'],
                    ['Age:', '29'],
                    ['DOB:', '10 March 1990']
                  ];
                table.user__table
                  each row in rows
                    tr.user__table-row
                      each cell in row
                        td.user__table-cell #{cell}

            .about__right
              p.about__intro Hi, my name is
              h2.about__name Nikolai Kononenko
              .about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam labore accusamus magni, nulla neque molestiae ad esse eligendi magnam assumenda porro ex iusto necessitatibus excepturi a eveniet deleniti eaque rerum!
              .about__purpose Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse temporibus similique voluptatibus dignissimos provident voluptatum eum reiciendis id dolorum, iusto, ab voluptate minima dolore! Id maiores ipsa cupiditate quo voluptatem!
            
      section.competence
        .container.competence__container
          .competence__desc
            .competence__desc-headline Here is how i can help you
            .competence__desc-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quam voluptates dolorem deserunt perspiciatis accusantium excepturi blanditiis accusamus provident cupiditate sunt, vitae, corrupti magni debitis, dicta a temporibus quo reprehenderit!
          .competence__content
            #skills-component

      section.works
        .container.work__container
          h2.works__title My projects
          .works__content
            #slider-component
            //- .slider
            //-   .slider__display
            //-     .slider__display-pic
            //-       +image('content/prew1.jpg', 'slider__display--img', 'slider__display--img')
            //-       .slider__preview
            //-         ul.slider-list
            //-           li.slider-list__item
            //-             a.slider-list__link(href="#")
            //-               +image('content/prew1.jpg', 'slider-list__img', 'slider-list__img')
            //-           li.slider-list__item
            //-             a.slider-list__link(href="#")
            //-               +image('content/prew2.jpg', 'slider-list__img', 'slider-list__img')
            //-           li.slider-list__item
            //-             a.slider-list__link(href="#")
            //-               +image('content/prew3.jpg', 'slider-list__img', 'slider-list__img')
            //-       .slider__buttons
            //-         a.direction-btn.direction-btn--next(href="#")
            //-           .direction-btn__icon
            //-         a.direction-btn.direction-btn--prev(href="#")
            //-           .direction-btn__icon
            //-       .slider__slide-count 2
            //-   .slider__info
            //-     .slider__tags
            //-       ul.tags
            //-         -var tags = ['HTML','CSS','Javascript']
            //-         each tag in tags
            //-           li.tags__item #{tag}
            //-     .slider__info-text
            //-       h3.slider__info-title School website project
            //-       .slider__info-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, id! Aperiam reprehenderit deserunt nobis ut eum tempore rem.
            //-     a.iconed-link
            //-       .iconed-link__icon
            //-       .iconed-link__text Open link     

      .bottom-section
        .parallax-footer
          .parallax-footer__item.parallax-footer__item--1(data-speed="0")
          .parallax-footer__item.parallax-footer__item--2(data-speed="0.25")
        section.reviews(@click="checkArrows" @touchend="checkArrows")
          .container
            .reviews__first-line
              h2.reviews__title People tell about me
              .reviews-slider__controls
                .reviews-slider__controls-btn.reviews-slider__controls-btn--left(@click="previous" :disabled="true")
                  .reviews-slider__controls-btn-icon
                .reviews-slider__controls-btn.reviews-slider__controls-btn--right(@click="next" :disabled="false")
                  .reviews-slider__controls-btn-icon
            flickity(ref="flickity" :options="flickityOptions").reviews-slider
              -for (i=0;i<5;i++)
                .reviews-slider__item.carousel-cell
                  .reviews-slider__img
                    .reviews-slider__icon
                  .quote
                    .quote__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor maxime nisi obcaecati placeat minus velit ipsa distinctio ad, veniam quidem qui dicta blanditiis officia tempore molestiae quo ipsum reiciendis aut.
                    .quote__author
                      .quote__author-avatar.avatar
                        +image("content/user.jpg", "quote__author-img", "user__pic")
                      .quote__author-info
                        .quote__author-name Kovalchuk Dmitri
                        .quote__author-occ Loftschool founder
        
        section.contact
          .container
            h2.contact__title Contact me
            .contact__form
              form.form(@submit.prevent="submitForm")
                .form__row.form__row--first-row
                  label.form__block(:class="{error: !nameValid}")
                    .form__title Input your name
                    .form__input-row
                      .form__icon.form__icon--user
                      input.form__input.form__input--name(type="text" name="name" placeholder ="Firstname Lastname" required @input='validateName' onFocus="this.placeholder=''")
                    .form__input-error {{nameError}}
                  label.form__block(:class="{error: !emailValid}")
                    .form__title Input your email
                    .form__input-row
                      .form__icon.form__icon--envelope
                      input.form__input.form__input--email(type="text" name="email" placeholder ="example@email.com" required @input='validateEmail' onFocus="this.placeholder=''")
                    .form__input-error {{emailError}}
                .form__row
                  label.form__block.form__block--texarea(:class="{error: !messageValid}")
                    .form__title Write your message here
                    .form__input-row
                      .form__icon.form__icon--message
                      textarea(name="message", cols="30", rows="10", placeholder ="Here you can describe tasks and concept" @input='validateMessage' onFocus="this.placeholder=''").form__input.form__input--textarea
                    .form__input-error {{messageError}}
                button.form__btn(type="submit") Send
                .overlay(:class="{disabled: overlayHidden}" @click="hideOverlay")
                  .overlay__content
                    .overlay__message {{resultMessage}}
                    button.overlay__btn(@click.prevent="hideOverlay") Закрыть
      footer.footer
        .container.footer__container
          .footer__copyright
            .copyright__year &copy 2019
            .copyright__info
              .copyright__name Nikolai<br/> Kononenko
              .copyright__desc Personal<br/> portfolio webpage
          .footer__content
            nav.nav.nav--footer
                ul.nav__list
                  li.nav__item
                    a.nav__link(href="#") Main
                  li.nav__item
                    a.nav__link(href="#") About me
                  li.nav__item
                    a.nav__link(href="#") Skills
                  li.nav__item
                    a.nav__link(href="#") Portfolio
                  li.nav__item
                    a.nav__link(href="#") Testimonial
                  li.nav__item
                    a.nav__link(href="#") Contacts
            .footer__content-colums
              .footer__content-col
                .footer__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo quasi delectus architecto porro quis debitis.
                .footer__social
                  ul.social__list
                    li.social__item
                      a.social__link(href="#")
                        .social__icon.social__icon--insta
                    li.social__item
                      a.social__link(href="#")
                        .social__icon.social__icon--vk
                    li.social__item
                      a.social__link(href="#")
                        .social__icon.social__icon--github
              .footer__content-col
                .footer__quote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi itaque repellendus distinctio deserunt sint, ratione minima, minus sit enim, nisi esse reprehenderit. 
                .footer__quote-auth Martin Goldwick

                                   
                
            
