include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      section.section.intro
        .container
          header.header
            span.initials NK
            nav.nav
              ul.nav__list
                li.nav__item
                  a.nav__link(href="#") Main
                li.nav__item
                  a.nav__link(href="#") About me
                li.nav__item
                  a.nav__link(href="#") Skills
                li.nav__item
                  a.nav__link(href="#") Portfolio
                li.nav__item
                  a.nav__link(href="#") Testimonial
                li.nav__item
                  a.nav__link(href="#") Contacts
            .social
              ul.social__list
                li.social__item
                  a.social__link(href="#")
                    +icon('insta', 'social__icon')
                li.social__item
                  a.social__link(href="#")
                    +icon('vk', 'social__icon')
                li.social__item
                  a.social__link(href="#")
                    +icon('github', 'social__icon')
          .intro-text
            .intro-text__left Personal portfolio page
            .intro-text__right Nikolai Kononenko
          a.scroll(href="#")
            .scroll__icon

            

                  
                  
                
            
